/*PARA EL BOTÒN*/

.en{
  color:#ffffff;
}
.es{
  color: #ffffff;
}

.check{
  position:relative;
  width: 50px;
}

.check::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background: #333;
  border-radius: 25px;
}

.check::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid;
}

.check:checked::after{
  left: 25px;
  border: 25px solid;
}

.check:checked::before{
  background: #44a6f6;
}

/*Para hacerlo responsivo*/
.grafico {
  width: 100%;
  height: 31.25em;
  margin: 0;
  padding: 0;
}

#logo {
  width: 150px;
  height: 50px;
  padding: 4px;
}

.graficoAmplio {

  width: 65.625em;
  height: 43.75em;
}

.graficoAmplio2 {
  width: 59.375em;
  height: 31.25em;

}

.graficoMapa {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 55em) {

  .grafico {
    width: 100%;

  }

  .graficoAmplio {
    width: 100%;
    height: 31.25em;
  }

  .graficoAmplio2 {
    width: 100%;
  }
}

/*Tamaño de la imagen*/

#img {

  max-width: 115px;
  max-height: 100px;
}
